# Binaries
bin/
*.exe
*.dll
*.so
*.dylib
morph

# Test output
*.out
*.log

# Vendor
vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.morph.session.archive
*.fox.vz
.morph.session
.morph_cache.z
